<h2><%= @team.name %></h2>
<%= link_to 'Edit team', edit_team_path(@team), class: "btn btn-secondary" %>
<%= link_to "Delete", team_path(@team),
  method: :delete,
  data: { confirm: "Are you sure?" } %>
