<h2><%= @team.name %></h2>
<%= link_to 'Edit team', edit_league_team_path(@league.id, @team.id), class: "btn btn-secondary" %>
<%= link_to "Delete", league_team_path(@team.league_id),
  method: :delete,
  data: { confirm: "Are you sure?" } %>
